body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.body-bg-color-change{
  background-color: #dce0e8;
}
.card-bg-color-change{
  background-color: #f3f5f7;
}

.title{
  color: #2196f3;
}
.title:hover{
  color: lightskyblue ;
}
.search-field{
  margin-bottom: 15px;
}
/* --- search box and button style ---  */
div.search-box input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

div.search-box button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

div.search-box button:hover {
  background: #0b7dda;
}

div.search-box::after {
  content: "";
  clear: both;
  display: table;
}
/* -----------  */


#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
}
.single-product:hover {
  box-shadow: 4px 4px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
}
.product-image {
  width: 150px;
  height: 150px;
}
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
  
}
#my-cart{
  background-color: lightsteelblue;
}
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
